.addmore-condition-btn {
  margin-bottom: 10px;
}

.delete-add-create-samebtn {
  background-color: #fff;
  border: 1px solid #babac0;
  color: black;
}

.delete-add-create-samebtn:hover {
  background-color: #babac0;
  color: black;
  border: 1px solid #babac0;
}

.milestones-line-circle {
  width: 15px;
  height: 15px;
  left: -15px;
  top: 9px;
  border-radius: 50%;
}

.milestones-line-circle {
  position: relative;
}

.milestones-line-circle:before {
  position: absolute;
  content: "";
  background-color: #d8e0f3;
}

.textarea-resize {
  resize: none;
}
