.loader-main {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 100%;
}

.message-loader {
  display: flex;
  height: 5rem;
  width: 5rem;
  align-items: center;
  justify-content: flex-start;
}

.dot-typing {
  position: relative;
  left: -9980px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00b8d0;
  color: #00b8d0;
  box-shadow: 9984px 0 0 0 #00b8d0, 9999px 0 0 0 #00b8d0, 10014px 0 0 0 #00b8d0;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #00b8d0, 9999px 0 0 0 #00b8d0,
      10014px 0 0 0 #00b8d0;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #00b8d0, 9999px 0 0 0 #00b8d0,
      10014px 0 0 0 #00b8d0;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #00b8d0, 9999px 0 0 0 #00b8d0,
      10014px 0 0 0 #00b8d0;
  }
  50% {
    box-shadow: 9984px 0 0 0 #00b8d0, 9999px -10px 0 0 #00b8d0,
      10014px 0 0 0 #00b8d0;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #00b8d0, 9999px 0 0 0 #00b8d0,
      10014px 0 0 0 #00b8d0;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #00b8d0, 9999px 0 0 0 #00b8d0,
      10014px -10px 0 0 #00b8d0;
  }
  100% {
    box-shadow: 9984px 0 0 0 #00b8d0, 9999px 0 0 0 #00b8d0,
      10014px 0 0 0 #00b8d0;
  }
}

/* ---------------------------- */

.dot-pulse {
  position: relative;
  margin: 0.4rem;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00b8d0;
  color: #00b8d0;
  box-shadow: 9999px 0 0 -5px #00b8d0;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: 0.25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #00b8d0;
  color: #00b8d0;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #00b8d0;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #00b8d0;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #00b8d0;
  }
  30% {
    box-shadow: 9984px 0 0 2px #00b8d0;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #00b8d0;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #00b8d0;
  }
  30% {
    box-shadow: 9999px 0 0 2px #00b8d0;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #00b8d0;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #00b8d0;
  }
  30% {
    box-shadow: 10014px 0 0 2px #00b8d0;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #00b8d0;
  }
}

/* --------------------------------------------------------------- */

.dot-spin {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: transparent;
  color: transparent;
  box-shadow: 0 -18px 0 0 #62a1fe, 12.72984px -12.72984px 0 0 #62a1fe,
    18px 0 0 0 #62a1fe, 12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0),
    0 18px 0 0 rgba(152, 128, 255, 0),
    -12.72984px 12.72984px 0 0 rgba(152, 128, 255, 0),
    -18px 0 0 0 rgba(152, 128, 255, 0),
    -12.72984px -12.72984px 0 0 rgba(152, 128, 255, 0);
  animation: dotSpin 1.5s infinite linear;
}

@keyframes dotSpin {
  0%,
  100% {
    box-shadow: 0 -18px 0 0 #00b8d0, 12.72984px -12.72984px 0 0 #00b8d0,
      18px 0 0 0 #00b8d0, 12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  12.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 0 #00b8d0, 18px 0 0 0 #00b8d0,
      12.72984px 12.72984px 0 0 #00b8d0, 0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  25% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0), 18px 0 0 0 #00b8d0,
      12.72984px 12.72984px 0 0 #00b8d0, 0 18px 0 0 #00b8d0,
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  37.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0), 12.72984px 12.72984px 0 0 #00b8d0,
      0 18px 0 0 #00b8d0, -12.72984px 12.72984px 0 0 #00b8d0,
      -18px 0 0 -5px rgba(152, 128, 255, 0),
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  50% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), 0 18px 0 0 #00b8d0,
      -12.72984px 12.72984px 0 0 #00b8d0, -18px 0 0 0 #00b8d0,
      -12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0);
  }
  62.5% {
    box-shadow: 0 -18px 0 -5px rgba(152, 128, 255, 0),
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0), -12.72984px 12.72984px 0 0 #00b8d0,
      -18px 0 0 0 #00b8d0, -12.72984px -12.72984px 0 0 #00b8d0;
  }
  75% {
    box-shadow: 0 -18px 0 0 #00b8d0,
      12.72984px -12.72984px 0 -5px rgba(152, 128, 255, 0),
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0), -18px 0 0 0 #00b8d0,
      -12.72984px -12.72984px 0 0 #00b8d0;
  }
  87.5% {
    box-shadow: 0 -18px 0 0 #00b8d0, 12.72984px -12.72984px 0 0 #00b8d0,
      18px 0 0 -5px rgba(152, 128, 255, 0),
      12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      0 18px 0 -5px rgba(152, 128, 255, 0),
      -12.72984px 12.72984px 0 -5px rgba(152, 128, 255, 0),
      -18px 0 0 -5px rgba(152, 128, 255, 0), -12.72984px -12.72984px 0 0 #00b8d0;
  }
}
