.update-sidebar-main {
  background-color: #09353942;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  opacity: 1;
  width: 294px;
  height: 93vh;
  overflow-y: auto;
}

.update-sidebar-title {
  display: flex;
  width: 100%;
  padding: 2px 13px;
  align-items: center;
  border-bottom: 1px solid #babac0;
}

.update-sidebar-title h2 {
  color: #45496e;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100%;
  width: 80%;
}

.update-sidebar-title i {
  width: 9%;
  cursor: pointer;
}

.update-sidebar-main hr {
  margin-top: -1px;
}

.update-sidebar-text {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 88%;
}

.update-sidebar-body-header {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 1.3em !important;
  margin-bottom: 10px !important;
}

.update-sidebar-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.update-sidebar-button BUtton {
  margin: 5px 5px;
}

.update-sidebar-text input,
.update-sidebar-text select {
  margin-bottom: 5px;
}

.add-more-button-container {
  background: #1b6063;
  border-radius: 100px;
  cursor: pointer;
  height: 36px;
  margin-bottom: 6px;
  margin-top: 10px;
  position: relative;
  text-align: left;
}

.add-more-button-container::after {
  color: #fff;
  content: "Add another button";
  font-size: 12px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 9px;
  width: 100%;
}

.add-more-button {
  background-color: #fff;
  border: none;
  box-shadow: none !important;
  border-radius: 100px;
  color: #343756;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: -0.3px;
  padding: 10px 16px;
  text-transform: uppercase;
}

.button-container {
  background-color: #093539;
  border-radius: 3px;
  margin-bottom: 7px;
  padding: 10px 10px 5px;
}

.condition-conatiner {
  background-color: rgba(138, 155, 168, 0.15);
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 12px 9px;
  position: relative;
  width: 100%;
}

.condition-input {
  color: #00b8d0 !important;
  margin-bottom: 5px;
  font-weight: 700 !important;
  border-right: 0 !important;
  padding-right: 0px !important;
  background-color: #fff !important;
}

.condition-input-text {
  border-left: 0 !important ;
}

.flowlist-pop-main-body {
  margin-top: 13px;
  max-height: 16rem;
  overflow: auto;
}

.flowlist-pop-main {
  display: flex;
  align-items: center;
  width: 99%;
  padding: 10px 5px;
  cursor: pointer;
}

.flowlist-pop-main:hover {
  border-radius: 5px;
  background-color: #e0e0e7;
}

.flowlist-pop-main img {
  height: 30px;
  width: 30px;
}

.send-email-container {
  background-color: #88aaad;
  border-radius: 3px;
  margin-bottom: 7px;
  padding: 10px 10px 5px;
}

.new-textbox {
  border-radius: 5px;
  background: white;
  height: 6rem;
  overflow: auto;
}
